.App {
  text-align: center;
  max-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-Brand {
  height: 35px;
  pointer-events: none;
}

.App-Brand-Text {
  color: white !important;
  font-weight: bold;
  margin-left: 10px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.Main-Container {
  margin-top: 5px;
}

.Navbar-container {
  padding-left: 10px;
  padding-right: 10px;
}

.Navbar-text {
  color: white !important;
  font-weight: bold;
  margin-right: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.Card-Pokemon {
  border-radius: 25px !important;
  margin-bottom: 10px;
}

.Home-Container {
  max-height: 90vh;
  overflow-y: auto;
}

.Home-Card-Row {
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.Detail-Container{
  margin-left: 10px;
  margin-right: 10px;
}

.Detail-Info {
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.Detail-Info-Box {
  border: 4px black solid;
  border-radius: 15px;
  min-height: 100px;
}

.Detail-Type-Box {
  border-radius: 15px;
  width: 100px;
  color: white;
}

.Detail-Table-Move {
  max-height: 50vh;
  overflow-y: auto;
}

/* .Detail-Button-Catch {
  margin-bottom: 10px;
} */

.Card-Menu-Dot {
  border: 1px solid gray;
  border-radius: 5px;
}

.Card-Menu-Dot:hover {
  background-color: rgb(206, 206, 206);
}

.normal {
  background-color: #a8a878;
}

.fire {
  background-color: #F08030;
}

.fighting {
  background-color: #C03028;
}

.water {
  background-color: #6890F0;
}

.flying {
  background-color: #A890F0;
}

.grass {
  background-color: #78C850;
}

.poison {
  background-color: #A040A0;
}

.electric {
  background-color: #F8D030;
}

.ground {
  background-color: #E0C068;
}

.psychic {
  background-color: #F85888;
}

.rock {
  background-color: #B8A038;
}

.ice {
  background-color: #98D8D8;
}

.bug {
  background-color: #A8B820;
}

.dragon {
  background-color: #7038F8;
}

.ghost {
  background-color: #705898;
}